
@import "variables";

body, h1, h2, h3, p{
  margin:0;
}

header{
  position:relative;
  height:500px;
  width:100%;

  .headervideo{
    overflow:hidden;
    position:absolute;
    bottom:0;
    height:100%;
    width:100%;
    object-fit:cover;
    z-index:-100;
  }

  .navbar{
    padding:30px 15% 0 15%;
    overflow:hidden;

    .logo{
      float:left;
      height:75px;
    }

    .navright{
      float:right;
      padding:0;

      li{
        display:inline;
        list-style:none;
        margin-right:5px;
        a{
          text-decoration:none;
          font-family:sans-serif;
          font-size:16px;
          color:$blue;
          background-color:white;
          padding:15px;
        }

        a:hover{
          color:white;
          background-color:$blue;
        }
      }
    }
  }

  .dropdown{
    @extend .navright;
    display:none;
  }

  .navbar{
    .navright{
      .aboutus:hover{
        .dropdown{
          display:block;
        }
      }
    }
  }

  .headertext{
    text-align:center;
    text-transform:uppercase;
    line-height:4em;
    font-family:sans-serif;
    color:$blue;
    position:relative;
    top:60px;


    h1{
      font-size:43px;
    }

    p{
      font-size:20px;
      color:white;
    }
  }
}

.about{
  height:auto;
  background-color:$blue;
  color:white;
  margin:0;
  text-align:center;
  font-family:sans-serif;
  box-sizing:border-box;
  padding:7% 15% 5% 15%;
  line-height:40px;
}


.issuescontainer{
  background-color:$lightgray;
  text-align:center;
  font-family:sans-serif;
  box-sizing:border-box;
  padding:7% 15% 5% 15%;
  margin:0;
  height:auto;

  h1{
    font-size:1.5em;
    color:$blue;
  }

  p{
    font-size:20px;
    color:black;
    line-height:2em;
  }
  .issuescolumns{
    background-color:white;
    display:inline-block;
    position:relative;
    box-sizing:border-box;
    width:23%;
    height:350px;
    vertical-align:top;
    margin:30px .7%;

    .issuescontent{
      position:absolute;
      top:30px;
      right:2px;
      margin:3%;
    }
    .fa{
      border:1px solid $blue;
      color:$blue;
      padding:10px;
      border-radius:50%;
      font-size:30px;
    }
    .fa:hover{
      color:white;
      background-color:$blue;
    }
    h2{
      color:$blue;
      font-size:1.17em;
      margin-top:20px;
    }
    p{
      font-size:1em;
      line-height:2em;
      color:$gray;
      margin-top:20px;
    }
  }
}

footer{
  background-color:$lightgray;
  height:auto;
  text-align:center;

  hr{
    margin:0;
  }

  p{
    display:inline-block;
    color:$blue;
    margin-top:4%;
    margin-bottom:1%;
    width:33%;
    font-family:sans-serif;
  }
}




// media queries
@import "mediaqueries";
